/* CategoryModal.css */
.category-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 1em;
}

.category-modal select {
  margin-right: 1em;
  width: 500px; 
  height: 40px; 
  font-size: 20px;
}

.category-modal button {
  padding: 0.5em 1em;
  /* background-color: #008CBA; */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.category-modal button:hover {
  background-color: #4caf50;
  color: white;
}
