.category-modal-main {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 30%;
  background: #f0f0f0;
  background: rgb(231, 246, 242, 0.8);
}

.category-modal-main::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.category-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.category-modal-content select {
  margin-right: 1em;
  width: 500px;
  height: 40px;
  font-size: 20px;
}

.category-modal-content button {
  padding: 0.5em 1em;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #4caf50;
  width: 150px;
}
.modal-title {
  text-align: center;
  margin-top: 5%;
}

.category-modal-content button:hover {
  background-color: #45a049;
}
