.app-container {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}
.app-container h1 {
  color: rgb(35, 125, 125);
  font-size: 60px;
  font-family: "Rockwell", sans-serif;
  letter-spacing: -1px;
  text-align: center;
  text-decoration: underline;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.button-group p {
  padding: auto;
  font-size: 28px;
  margin: auto;
  color: rgb(57, 91, 100);
}
.button-group button {
  margin: 0 5%;
}
.image-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
button {
  background-color: rgb(57, 91, 100);
  color: rgb(231, 246, 242);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

button:hover {
  filter: brightness(150%);
}
button:active {
  filter: brightness(70%);
}

.change-category-button {
  width: 250px;
}
